name: 'Lint, Unit and E2E Tests'

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 24.x
          cache: yarn

      - name: Install SDK dependencies
        run: yarn install --frozen-lockfile

      - name: Check eslint rules
        run: yarn run lint-ci

      - name: Prettier
        run: npm run prettier-ci

      - name: Build SDK
        run: yarn run build

      - name: Run unit tests
        run: yarn run test
        env:
          RPC_HOLESKY: ${{ secrets.RPC_HOLESKY }}
          RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
          RPC_GNOSIS: ${{ secrets.RPC_GNOSIS }}
          RPC_SEPOLIA: ${{ secrets.RPC_SEPOLIA }}
          RPC_HOODI: ${{ secrets.RPC_HOODI }}

      - name: Install e2e dependencies
        working-directory: ./test/sdk-package
        run: yarn install --frozen-lockfile

      - name: Build e2e
        working-directory: ./test/sdk-package
        run: yarn run build

      - name: Clear Jest cache
        working-directory: ./test/sdk-package
        run: yarn jest --clearCache || true

      - name: Run e2e tests
        working-directory: ./test/sdk-package
        run: yarn run test:e2e
        env:
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          DEL_AUTH: ${{ secrets.DEL_AUTH }}
          RPC_HOLESKY: ${{ secrets.RPC_HOLESKY }}
          RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
          RPC_GNOSIS: ${{ secrets.RPC_GNOSIS }}
          RPC_SEPOLIA: ${{ secrets.RPC_SEPOLIA }}
